# Folders
__pycache__/
build/
*.egg-info
output/
videos/
logs/*.*
temp/*
webserver/
server/*
miniprogram_uni/unpackage


*.ipynb
yolov5_deepsort.py



# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
*.pt