# Folders
__pycache__/
build/
*.egg-info
output/
videos/
logs/*.*
temp/*
webserver/
server/*
miniprogram_uni/unpackage

# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
*.pt
*.ipynb
yolov5_deepsort.py
test.ipynb
.*